<div>
    <a href="https://github.com/taekim90/the-travel-buddy" target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a>
    <a href="https://www.linkedin.com/in/taekim90/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
</div>
