<div>
    <a href="/user"><i class="fa-solid fa-note fa-2xl fa-2xl fa-flip" style="--fa-animation-duration: 10s;"></i></a>
    <a href="/user"><i class="fa-solid fa-magnifying-glass fa-2xl fa-flip" style="--fa-animation-duration: 11s;"></i></a>
    <a href="/user"><i class="fa-solid fa-plane fa-2xl fa-flip" style="--fa-animation-duration: 12s;"></i></a>
    <!-- <i class="fa-solid fa-plane-departure fa-2xl"></i> -->
    <a href="/places"><i class="fa-solid fa-utensils fa-2xl fa-flip" style="--fa-animation-duration: 10s;"></i></a>
    <a href="/places"><i class="fa-solid fa-hotel fa-2xl fa-flip" style="--fa-animation-duration: 11s;"></i></a>
    <a href="/notes"><i class="fa-solid fa-comment fa-2xl fa-flip" style="--fa-animation-duration: 12s;"></i></a>
    <a href="/notes"><i class="fa-solid fa-note-sticky fa-2xl fa-flip" style="--fa-animation-duration: 10s;"></i></a>
</div>