<h2>ABOUT THE TRAVEL BUDDY</h2>

<div class="">
    <div>When I make plans to go travel somewhere, I find that I use various apps to search for places I want to go, things to see, restaurants I want to eat at, etc. 
        Each time I identify a place I'm interested in, I find myself using the Notes app on my phone to type out the place to visit and save it for later. 
        Then I switch back to the search/travel apps to continue looking. 
        I also have experiences where I go to a restaurant and I order something delicious and I think to myself, "I'm going to have to order this again the next time I back". 
        However, when the next time comes around, I don't even remember what it was I ordered and that's what I get for trying to trust my memory. 
        The Travel Buddy is my attempt to trim the information and functionality packed features from other travel/search applications 
        and combine it with a to-do list/notes system to provide an app that completes just 3 primary functions.</div>
    <div>1. Search for places to go</div>
    <div>2. Add to rolling list of places to go / places you've been</div>
    <div>3. Make notes/comments on those places</div>
</div>