<h2>Login to your account</h2>

<form class="center flex-direction" action="/" method="POST">
    <div class="center">
        <label class="col-form-label-sm mt-1" for="email">Email:</label>
        <input class="spacer form-control-sm" type="email" name="email" id="email">
    </div>
    <div class="center">
        <label class="col-form-label-sm mt-1" for="password">Password:</label>
        <input class="spacer form-control-sm" type="password" name="password" id="password">
    </div>
    
    <div class="center">
        <button class="btn-dark btn-sm" type="submit">Login</button>
    </div>
</form>

<div class="center" id="error">
    <% if (error) { %> 
        <em> <%= error %> </em> 
    <% } %> 
</div>