<h2>Login to your account</h2>

<form class="center" action="/" method="POST">
    <label class="col-form-label-sm mt-1" for="email">Email:</label>
    <input class="spacer form-control-sm" type="email" name="email" id="email">

    <label class="col-form-label-sm mt-1" for="password">Password:</label>
    <input class="spacer form-control-sm" type="password" name="password" id="password">

    <button class="btn-dark btn-sm" type="submit">Login</button>
</form>

<div class="center" id="error">
    <% if (error) { %> 
        <em> <%= error %> </em> 
    <% } %> 
</div>