<h2>Please Enter Your Login Information</h2>

<form action="/" method="POST">
    <label for="eamil">Email:</label>
    <input type="email" name="email" id="email">

    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <button type="submit">Login</button>
</form>

