<h2>Please Enter Your Login Information</h2>

<form class="center" action="/" method="POST">
    <label for="eamil">Email:</label>
    <input class ="spacer" type="email" name="email" id="email">

    <label for="password">Password:</label>
    <input class ="spacer" type="password" name="password" id="password">

    <button type="submit">Login</button>
</form>

<div class="center" id="error">
    <% if (error) { %> 
        <em> <%= error %> </em> 
    <% } %> 
</div>
