* {
    /* background-color: blue; */
}

h2 {
    display: flex;
    justify-content: center; 
    margin: 7vh 0vh 4vh 0vh;
}

h5 {
    display: flex;
    align-items: flex-end;
}

p {
    margin: 5vh 0vh 1vh 0vh;
}

.places {
    margin: 0% 0% 0% 33%;
    padding: 0% 0% 4% 0%;
}

.notes {
    padding: 2.5% 0% 0% 33%;
}

.sticky {
    position: sticky;
    top: 0;
}

.center{
    display: flex;
    justify-content: center; 
}

.spacer {
    margin: 0vh 3vh 0vh .5vh;
}

.vertical-space {
    margin: .5vh 0vh 0vh 0vh;
}

.big-vertical {
    margin: 3vh 0vh 2vh 0vh;
}

.bigger-vertical{
    margin: 0vh 0vh 10vh 0vh;
}

.small-space {
    margin: 0vh 1vh 0vh 1vh;
}

#error {
    display: flex;
    color: red;
}

#header {
    position: fixed;
}

#footer {
    position: fixed;
    bottom: 2vh;
    left: 50%;
    transform: translate(-50%);
}

#bigger-font {
    font-size: 2em
}

#place-name {
    font-size: 1.4em
}

@media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .places {
        margin: 0% 0% 0% 0%;
    }
    .notes {
        padding: 2.5% 0% 0% 0%;
    }
}