* {
    /* background-color: blue; */
}


.center{
    display: flex;
    justify-content: center; 
}

#error {
    display: flex;
    color: red;
}

#footer {
    display: flex;
    position: fixed;
    bottom: 2vh;
    left: 50%;
    justify-content: center;
}