<h2>MY NOTES</h2>

<div class="bigger-vertical">
    <% notesArray.forEach(note => { %>
    <!-- if note has a place in database, display -->
        <% if (note.place) { %>
        <!-- to only display current user's note -->
            <% if (currentUser.id === note.userId) { %>
                <div class="notes">
                <!-- because I used "include: [db.place] I have access to do note.place.name" -->
                <div id="place-name"> <%= note.place.name %> </div> 
                <!-- <div> CATEGORY: <%= note.place.category %> </div>  -->
                <div> NOTE: <%= note.note %> </div>
                
                <form id="" action="/notes/?_method=DELETE" method="POST">
                    <input type="hidden" name="note" value="<%= note.note %>">
                    <button class="btn-danger btn-sm" type="submit" id="remove-note">REMOVE NOTE</button>
                </form>
            </div>
            <% } %>
        <% } %> 
    <% }) %>
</div>
                
                