<h2>CREATE NEW USER</h2>

<form action="/new" method="POST"> 
    <div class="center vertical-space">

        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
    </div>
    <div class="center vertical-space">

        <label for="eamil">Email:</label>
        <input type="email" name="email" id="email">
        <!-- type tells the browser how to deal with and format -->
    </div>
    <div class="center vertical-space">
        
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <!-- name="_____" - this needs to correspond with the req.body._____ -->
    </div>

    <div class="center vertical-space">
        <button type="submit">Sign up!</button>
    </div>
</form>

<div id="error">
    <% if (error) { %> 
        <em> <%= error %> </em> 
    <% } %> 
</div>
