<form action="/user" method="POST"> 
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">

    <label for="eamil">Email:</label>
    <input type="email" name="email" id="email">
    <!-- type tells the browser how to deal with and format -->

    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <!-- name="_____" - this needs to correspond with the req.body._____ -->

    <button type="submit">Sign up!</button>
</form>

<div id="error">
    <% if (error) { %> 
        <em><%= error %> </em> 
    <% } %> 
</div>
