<h2>CREATE NEW USER</h2>
<div class="center">

    <form action="/new" method="POST"> 
        <div class="vertical-space">
            <label for="name">Name:</label>
            <input class="form-control-sm" type="text" name="name" id="name inputSmall" size="24">
        </div>
        <div class="vertical-space">
            <label for="eamil">Email:</label>
            <input class="form-control-sm" type="email" name="email" id="email inputSmall" size="24">
            <!-- type tells the browser how to deal with and format -->
        </div>
        <div class="vertical-space">
            <label for="password">Password:</label>
            <input class="form-control-sm" type="password" name="password" id="password inputSmall" size="19">
            <!-- name="_____" - this needs to correspond with the req.body._____ -->
        </div>
        
        <div class="center vertical-space">
            <button class="btn btn-primary btn-sm" type="submit">Sign up!</button>
        </div>
    </form>
</div>

<div class="center" id="error">
    <% if (error) { %> 
        <em> <%= error %> </em> 
    <% } %> 
</div>