<h1>PROFILE PAGE</h1>

<h2>Name: <%= userInfo.name %> </h2>
<h2>Email: <%= userInfo.email %> </h2>

<p>If you would like to change your name or email, please update it here</p>
<form id="" action="/profile/?_method=PUT"" method="POST">
    <input type="text" name="name" placeholder="name" value="<%= userInfo.name %>" required>
    <input type="text" name="email" placeholder="email" value="<%= userInfo.email %>" required>
    <button type="submit" id="update-info">UPDATE USER'S INFO</button>
</form>


<!-- onclick="href='/profile'" -->