<h1>Welcome</h1>

<h2> Name: <%= currentUser.name %> </h2>
<h2> Email: <%= currentUser.email %> </h2>

<form id="search" action="/user" method="POST">
    <input type="text" placeholder="Enter Search Item Here" value="">
    <button type="submit" id="search">SEARCH</button>
</form>