<h1>Welcome</h1>

<h2><%= currentUser.name %> </h2>

<p>Enter a search term/category AND a location</p>
<form id="search" action="/results" method="GET">
    <input type="text" placeholder="Ex: Burgers" name="term"> in
    <input type="text" placeholder="Ex: Seattle" name="location">
    <button type="submit" id="search" onclick="href='/results'">SEARCH</button>
</form>