<h2>Welcome</h2>

<h3 class="center"><%= currentUser.name %> </h3>

<p class="center">ENTER A SEARCH TERM/CATEGORY AND A LOCATION</p>
<form class="center" id="search" action="/results" method="GET">
    <input class="small-space form-control-sm" id="inputSmall" type="text" placeholder="Ex: Hotels" name="term"> 
    <h5>IN</h5>
    <input class="small-space form-control-sm" id="inputSmall" type="text" placeholder="Ex: Seattle" name="location">
    <button class="btn btn-dark btn-sm" type="submit" id="search" onclick="href='/results'">SEARCH</button>
</form>
